# Mengabaikan file hasil kompilasi (karena bisa dibuat ulang oleh komputer)
*.class

# Mengabaikan folder output/build dari NetBeans
/build/
/dist/

# Mengabaikan file log dan error Java
*.log
hs_err_pid*

# Mengabaikan file sampah dari Sistem Operasi
.DS_Store
Thumbs.db